
@{
    Layout = null;
}

@model eUseControl.Web.Models.UserData

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductView</title>
</head>
<body>
<div>
    
    <h1>Your product name is : @Html.DisplayFor(m=>m.ProductSingleName)</h1>
</div>
</body>
</html>
